# Dependencies
/node_modules

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment and sensitive data
.env
.env.*
.DS_Store # (Untuk pengguna macOS)

# Build artifacts (Jika Anda menambahkan proses build di masa depan)
/dist
/build